@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");

* {
  font-family: "Dongle", sans-serif;
  font-size: 1.6rem;
  transition: color 0.4s ease-out;
  box-sizing: border-box;
}
.App {
  display: flex;
  flex-direction: column;
}

.logo {
  cursor: pointer;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: #5ebec4;
  color: black;
  height: 9vh;
  width: 100vw;
}

li {
  list-style-type: none;
  font-size: 1.2rem;
  font-weight: 600;
  cursor: pointer;
}

.vizualizebtn {
  background-color: #fdf5df;
  border-radius: 5px;
  padding: 0.5px 10px;
  -webkit-box-shadow: -1px 0px 5px 5px rgba(0, 0, 0, 0.5);
  box-shadow: -1px 0px 15px 5px rgba(0, 0, 0, 0.5);
}

.logo:hover,
li:hover {
  color: #f92c85;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 78vh;
}

.main > h1 {
  margin-top: 0.5rem;
}
.grid {
  display: flex;
  flex-direction: column;
  width: 50vw;
  justify-content: center;
  align-items: center;
}
.grid > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.grid > div > div {
  margin-left: 10px;
  padding: 15px;
  border: 1px black solid;
  margin-bottom: 10px;
  width: 10px;
  height: 10px;
}

.algorithms {
  font-size: 1em;
}
.algo {
  position: absolute;
  color: white;
  background-color: black;
  margin-top: 2%;
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.algo > p {
  border: 1px solid black;
  font-size: 1rem;
  border-radius: 5px;
}
.algo > p:hover {
  background: #379683;
}
.clicked {
  color: #f92c85;
}

.grid > div > div:hover {
  cursor: pointer;
}

.column:hover {
  background-color: pink;
  padding: 20px;
}

.footer {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dad1c6;
  height: 13vh;
}
.items {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.items > h1:hover {
  color: red;
  cursor: pointer;
}
.rightRow {
  width: 9.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 35%;
}
.options > h1 {
  color: white;
  padding: 1px 15px;
  background-color: #8ee4af;
  border-radius: 30px;
}

.options > h1:hover {
  background-color: #05386b;
  cursor: pointer;
}
