@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap");

* {
  font-family: "Dongle", sans-serif;
  font-size: 1.6rem;
  transition: all 0.2s ease-out;
}
.App {
  display: flex;
  flex-direction: column;
}

.logo {
  cursor: pointer;
}
.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  background-color: #5ebec4;
  color: black;
}

li {
  list-style-type: none;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.logo:hover,
li:hover {
  color: #f92c85;
}
